
<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <div class="col-md-3 mb-2 mb-md-0">
            <span class="fs-4">JINGGUMDARI</span>
        </div>
        </a>
        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li class="nav-link px-2 link-secondary"><a href="#" class="nav-link activate" aria-current="page">Home</a></li>
            <li class="nav-link px-2 link-secondary"><a href="#" class="nav-link">Features</a></li>
            <li class="nav-link px-2 link-secondary"><a href="#" class="nav-link">Pricing</a></li>
            <li class="nav-link px-2 link-secondary"><a href="#" class="nav-link">FAQs</a></li>
            <li class="nav-link px-2 link-secondary"><a href="#" class="nav-link">Abouts</a></li>
        </ul>

        <div class="col-md-3 text-end">
            <a href="#"><button type="button" class="btn btn-success">Login</button></a>
            <button type="button" class="btn btn-warning">Sign-up</button>
        </div>

    </header>

</div>

